<h1>Post an Item</h1>
  <%= form_for @item do |f| %>
    <%= f.label "Item Name" %>
    <%= f.text_field :name %><br>
    <%= f.label "Price" %>
    <%= f.number_field :price, :class => 'text_field', :step => "any" %><br>
    <%= f.label "Description" %>
    <%= f.text_area :description %><br>
    <%= f.label "Organization" %>
    <%= f.select :organization, [["Connect 2 Good"], ["Austin Pets Alive"]] %>
    <%= f.label "Percent of Proceeds to Donate" %>
    <%= f.select :percent, [[100], [50], [20], [10]] %><br>
    <%= f.label "Upload a photo" %>
    <%= f.file_field :photo1 %><br>
    <%= f.label "Optional photo" %>
    <%= f.file_field :photo2 %><br>
    <%= f.label "Optional photo" %>
    <%= f.file_field :photo3 %><br>
    <%= f.check_box :agreement %><%=f.label "I agree to complete this transaction through Connect 2 Good so that the proceeds can be donated to the non-profit I have indicated above." %><br>
    <%= f.submit "Submit" %>

    <% end %>
